body {
  margin: 0;
  font-family: 'Open Sans';
}

path {
  shape-rendering: crispEdges;
}

.tooltip {
  position: absolute;
  pointer-events: none;
  z-index: 999;
  border-radius: 3px;
  padding: 10px;
  background-color: rgba(68,68,68,0.95);
  color: white;
  font-size: 20px;
}

.tooltip-time-number {
  font-size: 30px;
  padding-right: 5px;
}

.tooltip.hidden {
  visibility: hidden;
}
