body {
  margin: 0;
  font-family: 'Open Sans';
}

path {
  shape-rendering: crispEdges;
}

.tooltip {
  position: absolute;
  pointer-events: none;
  z-index: 999;
  border-radius: 3px;
  padding: 10px;
  background-color: rgba(68,68,68,0.95);
  color: white;
  font-size: 20px;
}

.tooltip-time-number {
  font-size: 30px;
  padding-right: 5px;
}

.tooltip.hidden {
  visibility: hidden;
}

#zone-info {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 998;
  color: white;
  background-color: rgba(32,32,32,0.9);
  padding: 15px;
}

#info-title {
  font-size: 24px;
}

#info-current, #info-current-initial {
  font-size: 20px;
}

#info-current {
  display: none;
}

.info-zone {
  color: rgb(234,169,189);
  font-weight: bold;
}
